@use '../../assets/scss/color-palette' as *;

.nav {
  position: fixed;
  height: 70px;
  top: 1em;
  left: 1em;
  right: 1em;
  max-width: 1200px;
  border-radius: 100px;
  border: solid $border 1px;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(20px) brightness(0.75);
  display: flex;
  align-items: center;
  padding: 1em 2em;
  gap: 3em;

  a,
  button {
    border: 0;
    background: 0;
    color: $text;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-decoration: none;

    &.active {
      color: $accent;
    }
  }
}

@media (max-width: 1063px) {
  .nav {
    justify-content: center;
  }
}

@media (max-width: 650px), (max-height: 500px) and (orientation: landscape) {
  .nav {
    display: none;
  }
}
