@use '../../assets/scss/color-palette' as *;

.footer {
  width: 100%;
  border-top: solid $border 1px;
  background: rgba($background, 0.5);
  padding: 20px;
  display: flex;
  gap: 1em;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-right: 2em;
    flex-shrink: 0;

    .avatar {
      aspect-ratio: 1/1;
      width: 5em;
      border-radius: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .username {
        color: $accent;
        font-weight: 500;
      }

      .made {
        font-size: 0.8em;
        color: $text-muted;
      }
    }
  }

  .navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    .links {
      display: flex;
      gap: 1em;
      width: 100%;
      flex-wrap: wrap;

      .category {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3em;
        min-width: 300px;

        .name {
          width: 100%;
          border-bottom: solid $border 1px;
          color: $text-muted;
          font-size: 1em;
          padding-bottom: 0.4em;
          margin-bottom: 0.6em;
        }

        button,
        a {
          border: none;
          padding: 0;
          background: none;
          font-size: 0.8em;
          margin: 0;
        }

        .soon {
          font-size: 0.7em;
          margin-top: 0.5em;
          color: $text-muted;
        }
      }
    }

    .socials {
      display: flex;
      gap: 0.3em;
      flex-direction: row-reverse;

      .social {
        font-size: 1.5em;
        color: $text;
        transition: 0.25s;

        &:hover {
          color: $text-muted;
        }
      }
    }
  }
}

@media (max-width: 918px) {
  .footer {
    flex-direction: column;
    gap: 3em;

    .user {
      margin-right: 0;
    }

    .navigation .links {
      gap: 1.5em;
    }

    .socials {
      justify-content: center;
    }
  }
}
